#content {
    width: 100%;
    height: 100%;
}

.square {
	  opacity: 1.0;
    border: 1px solid #777777;
    float: left;

}

.checker {
    border: 2px solid #FFFFFF;
    float: left;
    color: #FFFFFF,
    opacity: 1.0
}


.checker-cycle {


}


.checker-drop {


}
